---
interface Props {
  title: string;
}

import { ViewTransitions } from 'astro:transitions';
import Hamburger from '../components/Hamburger.astro';

const { title } = Astro.props;

const menuItems = [
  {'name': 'Somos Sisterhood', 'url': '/#about'},
  {'name': '¿Que hacemos?', 'url': '/#services'},
  {'name': 'Testimonios', 'url': '/#testimonials'},
  // {'name': 'Productos digitales', 'url': '#'},
  {'name': 'Blog', 'url': '/#blog'},
]
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Sisterhood Terapia. Somos una plataforma online, desarrollada y dirigida por mujeres y para mujeres." />
    <meta name="viewport" content="width=device-width" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <title>{title}</title>
    <ViewTransitions />

    <script type="text/javascript" src="https://platform-api.sharethis.com/js/sharethis.js#property=686056b5e8c88300192dd0a2&product=inline-share-buttons&source=platform" async="async"></script>
  </head>
  <body>
    <header id="top">
      <div class="mx-auto max-w-screen-xl px-4 sm:px-6 lg:px-8 md:py-6">
        <div
          class="flex flex-col md:flex-row h-40 md:h-16 items-center justify-between"
        >
          <div class="md:flex md:items-center">
            <span class="sr-only">Sisterhood</span>
            <a href="/">
            <img src="/logo.png" class="mt-6 md:mt-0 w-72" alt="Sisterhood Terapia">
            </a>
          </div>
          <div class="flex items-center gap-4">
            <span
              class="block text-primary text-sm md:text-md leading-tight text-center mb-2 md:mb-0 md:text-right"
            >
              Terapia Psicológica Online para la Mujer <br />
              Lic. Silvia Chirinos Medrano <br />
              Psicóloga Clínica
            </span>
          </div>
        </div>
        <div class="mt-0 md:mt-4 flex flex-col md:flex-row justify-between">
          <nav class="hidden mt-0 md:flex md:mt-4">
            <ul class="flex items-center gap-6 text-md">
              {menuItems.map(item => (
              <li>
                <a
                  class="text-primary transition hover:text-[#6d123f]/75"
                  href={item.url}
                >
                  {item.name}
                </a>
              </li>
              ))}
            </ul>
          </nav>

          <div class="flex flex-row justify-between">
            <div class="text-center py-4 sm:py-0 sm:flex sm:gap-4">
              <a
                href="/#book"
                class="py-4 px-10 inline-flex items-center rounded-[36px] border-secondary text-primary bg-light transition-all duration-300 ease-in-out  hover:transition-all hover:duration-300 hover:ease-out hover:bg-secondary hover:text-extra-light"
              >
                <span class="text-md font-medium"> Agenda tu cita </span>
              </a>
            </div>

            <div class="flex md:hidden">
              <Hamburger />
            </div>
          </div>
        </div>
        <div class="nav-links hidden">
           {menuItems.map(item => (
              <a
                class="text-primary transition hover:text-[#6d123f]/75"
                href={item.url}
              >
                {item.name}
              </a>
            ))}
        </div>
      </div>
    </header>
    <slot />
    <footer class="bg-[#944648]">
      <div
        class="relative mx-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8 lg:pt-24"
      >
        <div class="absolute end-4 top-4 sm:end-6 sm:top-6 lg:end-8 lg:top-8">
          <a
            class="inline-block rounded-full bg-[#6d123f] p-2 text-white shadow transition hover:bg-[#6d123f]/20 sm:p-3 lg:p-4"
            href="#top"
          >
            <span class="sr-only">Back to top</span>

            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="size-5"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                fill-rule="evenodd"
                d="M14.707 12.707a1 1 0 01-1.414 0L10 9.414l-3.293 3.293a1 1 0 01-1.414-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 010 1.414z"
                clip-rule="evenodd"></path>
            </svg>
          </a>
        </div>

        <div class="lg:flex lg:items-end lg:justify-between">
          <div>
            <div class="flex justify-center text-[#fdfcf8] lg:justify-start">
              <!-- <h3 class="text-2xl text-extra-light">Sisterhood</h3> -->
              <span class="sr-only">Sisterhood</span>
              <img src="/logo-white.png" class="w-56" alt="Sisterhood Terapia">
            </div>

            <p
              class="mx-auto mt-6 md:ml-2 max-w-md text-center leading-relaxed text-[#fdfcf8] lg:text-left"
            >
              Da el primer paso hacia una vida equilibrada y plena. Brindamos apoyo Psicológico profesional, dedicado y experimentado.
            </p>

            <div class="mt-6 md:ml-2 flex justify-center gap-4 lg:justify-start">
              <span class="text-extra-light">Únete a nuestra comunidad en estas RRSS</span>
              
              <a
                class="text-extra-light transition hover:text-gray-200/75"
                href="https://www.facebook.com/people/Sisterhood-Consultorio-Online/61566434610385/"
                target="_blank"
                rel="noreferrer"
              >
                <span class="sr-only"> Facebook </span>

                <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-brand-facebook"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3" /></svg>
              </a>

              <a
                class="text-extra-light transition hover:text-gray-200/75"
                href="https://www.instagram.com/sisterhoodterapia/"
                target="_blank"
                rel="noreferrer"
              >
                <span class="sr-only"> Instagram </span>

                <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-brand-instagram"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 8a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z" /><path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0" /><path d="M16.5 7.5v.01" /></svg>
              </a>

              <a
                class="text-extra-light transition hover:text-gray-200/75"
                href="https://www.linkedin.com/company/sisterhoodterapia/"
                target="_blank"
                rel="noreferrer"
              >
                <span class="sr-only"> LinkedIn </span>

                <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-brand-linkedin"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M8 11v5" /><path d="M8 8v.01" /><path d="M12 16v-5" /><path d="M16 16v-3a2 2 0 1 0 -4 0" /><path d="M3 7a4 4 0 0 1 4 -4h10a4 4 0 0 1 4 4v10a4 4 0 0 1 -4 4h-10a4 4 0 0 1 -4 -4z" /></svg>
              </a>
            </div>
          </div>

          <ul
            class="mt-12 flex flex-wrap justify-center gap-6 md:gap-8 lg:mt-0 lg:justify-end lg:gap-12"
          >
          {menuItems.map(item => (
              <li>
                <a
                  class="text-[#fdfcf8] text-base transition hover:text-gray-700/75"
                  href={item.url}
                >
                  {item.name}
                </a>
              </li>
              ))}
          </ul>
        </div>

        <p class="mt-12 text-center text-sm text-[#fdfcf8] lg:text-right">
          Copyright &copy; 2024. Algunos derechos reservados.
        </p>
      </div>
    </footer>
    <script>
    document.querySelector('.hamburger')?.addEventListener('click', () => {
      document.querySelector('.nav-links')?.classList.toggle('expanded');
    });
  </script>
  </body>
</html>
<style is:global>
  /* roboto-latin-100-normal */
  @font-face {
    font-family: "Roboto";
    font-style: normal;
    font-display: swap;
    font-weight: 100;
    src:
      url(https://cdn.jsdelivr.net/fontsource/fonts/roboto@latest/latin-100-normal.woff2)
        format("woff2"),
      url(https://cdn.jsdelivr.net/fontsource/fonts/roboto@latest/latin-100-normal.woff)
        format("woff");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122,
      U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  /* roboto-latin-400-normal */
  @font-face {
    font-family: "Roboto";
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src:
      url(https://cdn.jsdelivr.net/fontsource/fonts/roboto@latest/latin-400-normal.woff2)
        format("woff2"),
      url(https://cdn.jsdelivr.net/fontsource/fonts/roboto@latest/latin-400-normal.woff)
        format("woff");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122,
      U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  /* roboto-latin-700-normal */
  @font-face {
    font-family: "Roboto";
    font-style: normal;
    font-display: swap;
    font-weight: 700;
    src:
      url(https://cdn.jsdelivr.net/fontsource/fonts/roboto@latest/latin-700-normal.woff2)
        format("woff2"),
      url(https://cdn.jsdelivr.net/fontsource/fonts/roboto@latest/latin-700-normal.woff)
        format("woff");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122,
      U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  /* roboto-latin-900-normal */
  @font-face {
    font-family: "Roboto";
    font-style: normal;
    font-display: swap;
    font-weight: 900;
    src:
      url(https://cdn.jsdelivr.net/fontsource/fonts/roboto@latest/latin-900-normal.woff2)
        format("woff2"),
      url(https://cdn.jsdelivr.net/fontsource/fonts/roboto@latest/latin-900-normal.woff)
        format("woff");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122,
      U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  :root {
    --primary: #6d123f;
    --secondary: #944648;
    --light: #edcdc2;
    --extra-light: #fdfcf8;
  }

  html {
    font-family: "Roboto", sans-serif;
    background-color: var(--extra-light);
    scroll-behavior: smooth;
  }

  .hamburger {
    padding-right: 20px;
    cursor: pointer;
  }

  /* mobile nav styles */
  .nav-links {
    width: 100%;
    top: 5rem;
    left: 48px;
    background-color: var(--light);
    display: none;
    margin: 0;
  }

  .nav-links a {
    display: block;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
  }

  .nav-links a:hover,
  .nav-links a:focus {
    background-color: var(--ligth);
  }

  .expanded {
    display: unset;
  }
</style>
